# Flutter & Dart
.dart_tool/
.packages
.pub/
build/
flutter_*.png
pubspec.lock

# Android
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/key.properties
**/android/gradlew
**/android/gradlew.bat
**/android/app/google-services.json
**/android/**/gradle-wrapper.jar

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/.symlinks/
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner.xcworkspace/
**/ios/Runner/GoogleService-Info.plist

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
**/macos/Pods/

# Windows
**/windows/flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Web
lib/generated_plugin_registrant.dart

# IDEs
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Misc
.DS_Store
*.log
*.class
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
